<!Doctype  html>
<html>
<head>
		<title>Email Login</title>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<link rel= "stylesheet" type= "text/css" href= "./css/demo.css">
		<link rel= "stylesheet" type= "text/css" href= "./css/sky-forms.css">
		<link rel= "stylesheet" type ="text/css" href="./css/rawlogin.css">
		
				
	<style type= "text/css"> 


    .abc {
	position:relative;
	top=60%;
	left=60%;
	}
	
	.sky-form.button{
	border-radius: 12px;
	
	}
	
	
	</style>	
	</head>
	<body class="bg-cyan">
	<!--<img src="download5.png" alt="Icon" style="width:208px;height:128px" display="block" margin-left="50%" margin-right="auto">-->
	
	
	
			<div class="body body-s">
			<div class="abc"><form name="myForm" action="" class="sky-form" style="border-radius:12px;" >
			<header> Login </header>
			<fieldset>					
					<section>
						<label class="input">
							<i class="icon-append icon-user"></i>
							<center> <h2><b><i>WELCOME {{data.userId}}</i><b></h2></center>
							<center><input type="text" placeholder="email"  ng-model="data.userId" /></br></center>
							<b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
						</label>
					</section>
					
					
						<section>
						<label class="input">
							<i class="icon-append icon-lock"></i>
							<center><input type="password" placeholder="password" ng-model="data.password" /></center>
							<b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
						</label>
					</section>
					</fieldset>
					
					
					
				<footer>
					<!--<button type="submit" class="button">Submit<a href="home.html"></a></button>-->
					<!--<input type="button"  class="button" value="Submit" onclick="window.location = 'MySentMails.html';"></button>-->
					<center><input type="button" class= "button" value="Login" ng-click="login()"/></center>
					<!--</br><h4><a href="forgotpassword.html"> Forgot Password? </a></h4>-->
					  <center><h3><a href="/signup">Sign Up</a></h3></center>

				</footer>
			
							
						<!--	//<input type="text" placeholder="Username ">
							//<b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
						//</label>
					//</section>
					
	
	
	/*<body background="download3.jpg">*/
	//<center> <p><b><i>WELCOME {{data.userId}}</i><b><p></center>
  
   //<center><input type="text" placeholder="email"  ng-model="data.userId" /></br></center>
   //<center><input type="password" placeholder="password" ng-model="data.password" /></center>-->
  <!-- <center><input type="button" value="login" ng-click="login()"/></center>-->
   <!--<center><a href="/signup">Sign Up</a></center>-->
  
  </form>
  </div>
  </div>

 </body>
  </html>
  